html {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #64e011;
}
#image_container {
    position: absolute;
    top: 2em;
    left: 4em;
    width: 630px;
    height: 430px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
#festive_image {
}